

p{margin: 0}
body{
    font-family: "Roboto","Helvetica",Helvetica,Arial,sans-serif;
}
/*=====================================Result Items======================================*/
.all-result-item-wrapper{
    max-width: 600px;
    margin: 5px auto;
    border: 2px solid blue;
    padding: 10px 80px 10px 10px;
    position: relative;
    box-sizing: border-box;

}
.all-result-item-title{
    color: blue;
    font-size: 16px;
    display: block;
    margin-bottom: 4px;
}

.all-btn-delete{
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #d9165a;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.all-original-title{
    margin-bottom: 4px;
}
.all-result-item-wrapper p{
    font-size: 13px;

}
.all-result-item-original{
    margin-bottom: 10px;
}
.all-suggestion-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}
.all-suggestion-item button{
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    background-color: #69cc00;
    border: none;
    height: 23px;
    cursor: pointer;
    margin-bottom: 2px;

}
.all-suggestion-item input{
    border-radius: 3px;
    width: calc(100% - 100px);
    border: 1px solid #c3ced9;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}
.all-suggestion-item.all-input-suggestion{
    border-bottom: none;
}
.all-input-suggestion button{
    margin-bottom: 0;
}

/*=====================================Paragraphs======================================*/
.all-item-wrapper{
    max-width: 600px;
    margin: 5px auto;
    border: 1px solid #c3ced9;
    border-radius: 5px;
    padding: 15px 10px 15px 15px;
}
.all-item-inner-wrapper{
    padding: 10px;
    border-left: 1px solid #c3ced9;
    border-right: 1px solid #c3ced9;
}

.all-item-wrapper > * {
    display: block;
}
.all-item-title {
    color: #757f8a;
    font-size: 13px;
    margin-bottom: 3px;
}

.all-item-wrapper textarea {
    width: 100%;
    height: 90px;
    border: 1px solid #c3ced9;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 8px;
    resize: none;
    font-family: "Roboto","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.all-item-original{
    margin-bottom: 10px;
}
.all-item-wrapper .all-button-container{
    text-align: right;
}
.all-item-wrapper button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    vertical-align: middle;
    line-height: 28px;
    position: relative;
    padding-left: 26px;

}
.all-item-wrapper button i{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #c3ced9;
    border-radius: 40px;
    position: absolute;
    left: 0;
    top:3px;
    background: url("../images/check_select.svg") no-repeat;

}


/*=====================================loader======================================*/
@keyframes opacity-60-25-0-12 {
    0% {
        opacity: 0.25;
    }
    0.01% {
        opacity: 0.25;
    }
    0.02% {
        opacity: 1;
    }
    60.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@keyframes opacity-60-25-1-12 {
    0% {
        opacity: 0.25;
    }
    8.34333% {
        opacity: 0.25;
    }
    8.35333% {
        opacity: 1;
    }
    68.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@keyframes opacity-60-25-2-12 {
    0% {
        opacity: 0.25;
    }
    16.6767% {
        opacity: 0.25;
    }
    16.6867% {
        opacity: 1;
    }
    76.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@keyframes opacity-60-25-3-12 {
    0% {
        opacity: 0.25;
    }

    25.01% {
        opacity: 0.25;
    }

    25.02% {
        opacity: 1;
    }

    85.01% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.25;
    }
}
@keyframes opacity-60-25-4-12 {
    0% {
        opacity: 0.25;
    }

    33.3433% {
        opacity: 0.25;
    }

    33.3533% {
        opacity: 1;
    }

    93.3433% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.25;
    }
}
@keyframes opacity-60-25-5-12 {
    0% {
        opacity: 0.270958;
    }

    41.6767% {
        opacity: 0.25;
    }

    41.6867% {
        opacity: 1;
    }

    1.67667% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.270958;
    }
}
@keyframes opacity-60-25-6-12 {
    0% {
        opacity: 0.375125;
    }

    50.01% {
        opacity: 0.25;
    }

    50.02% {
        opacity: 1;
    }

    10.01% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.375125;
    }
}
@keyframes opacity-60-25-7-12 {
    0% {
        opacity: 0.479292;
    }

    58.3433% {
        opacity: 0.25;
    }

    58.3533% {
        opacity: 1;
    }

    18.3433% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.479292;
    }
}
@keyframes opacity-60-25-8-12 {
    0% {
        opacity: 0.583458;
    }

    66.6767% {
        opacity: 0.25;
    }

    66.6867% {
        opacity: 1;
    }

    26.6767% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.583458;
    }
}
@keyframes opacity-60-25-9-12 {
    0% {
        opacity: 0.687625;
    }

    75.01% {
        opacity: 0.25;
    }

    75.02% {
        opacity: 1;
    }

    35.01% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.687625;
    }
}
@keyframes opacity-60-25-10-12 {
    0% {
        opacity: 0.791792;
    }

    83.3433% {
        opacity: 0.25;
    }

    83.3533% {
        opacity: 1;
    }

    43.3433% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.791792;
    }
}
@keyframes opacity-60-25-11-12 {
    0% {
        opacity: 0.895958;
    }

    91.6767% {
        opacity: 0.25;
    }

    91.6867% {
        opacity: 1;
    }

    51.6767% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.895958;
    }
}

.td-preloader {
    height: 100vh;
}